.idea
*.iml
*.pyc
*.class


api-gateway-zuul/target/
api-gateway-zuul/lib/

course-dubbo-service/target/
course-dubbo-service/lib/

course-dubbo-service-api/target/
course-dubbo-service-api/lib/

course-edge-service/target/
course-edge-service/lib/

message-thrift-service-api/target/
message-thrift-service-api/lib/

user-edge-service/target/
user-edge-service/lib/

user-edge-service-client/target/
user-edge-service-client/lib/

user-thrift-service/target/
user-thrift-service/lib/

user-thrift-service-api/target/
user-thrift-service-api/lib/
